<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.visa.android.integration.checkoutsampleapp.app" >

    <!-- Permissions needed by Visa XO SDK -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- card.io: Permission to use camera - required -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- card.io: Permission to vibrate - recommended, allows vibration feedback on scan -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- card.io: Camera features - recommended -->
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
    <uses-feature android:name="android.hardware.camera.flash" android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Visa XO SDK Activity -->
        <activity android:name="com.visa.checkout.VisaMcomActivity"
            android:configChanges="locale|layoutDirection"/>

        <activity
            android:name="com.visa.android.integration.checkoutsampleapp.app.MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activities responsible for gathering payment info via card.io -->
        <activity android:name="io.card.payment.CardIOActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="true" />

        <activity android:name="io.card.payment.DataEntryActivity"
            android:screenOrientation="portrait" />

        <!-- App Id for facebook Sdk -->
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
    </application>

</manifest>
